img {
    display: none !important;
    visibility: hidden !important;
}

.metadata {
    margin-bottom: 50px;
    text-align: center;

    .metadatabox {
        font-size: 11px;
    }
}

.centered {
    text-align: center;
}